.fc-direction-ltr {
  margin: 12px !important;
}

.fc .fc-button-group {
  gap: 7px;
}

.fc .fc-button-group .fc-prev-button,
.fc .fc-button-group .fc-next-button {
  background-color: white !important;
  border: 1px solid blue !important;
  color: black !important;
  border-radius: 7px !important;
}

.fc-toolbar-title {
  font-size: 19px !important;
  font-weight: 450 !important;
}

.fc .fc-button-group .fc-prev-button:hover,
.fc .fc-button-group .fc-next-button:hover {
  background-color: white !important;
  border: 1px solid blue !important;
  color: blue !important;
  border-radius: 5px !important;
  box-shadow: none !important;
}

.fc .fc-button-group .fc-timeGridDay-button,
.fc .fc-button-group .fc-timeGridWeek-button,
.fc .fc-button-group .fc-dayGridMonth-button {
  color: black !important;
  border: none !important;
  background-color: #ffffff !important;
  border-radius: 0px !important;
  padding-bottom: 3px !important;
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
  color: black !important;
  border: none !important;
  background-color: #ffffff !important;
  border-bottom: 2.5px solid blue !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  padding-bottom: 3px !important;
}

.fc .fc-button-group > .fc-button:hover {
  color: black !important;
  border: none !important;
  background-color: #ffffff !important;
  border-bottom: none !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  padding-bottom: 3px !important;
}

.fc-dayGridMonth-view table th a{
  color: #0000ffc7 !important;
  font-weight: 450 !important;
}

.fc-dayGridMonth-view table tbody tr td a  {
  color: black !important;
  font-weight: 450 !important;
}

.fc-timeGridWeek-view table th a{
  color: #0000ffc7 !important;
  font-weight: 450 !important;
}

.fc-timeGridDay-view table th a{
  color: #0000ffc7 !important;
  font-weight: 450 !important;
}

/* .fc-dayGridMonth-view table th,
.fc-dayGridMonth-view table td,
.fc-dayGridMonth-view table tr,
.fc-theme-standard .fc-scrollgrid {
  border: 1px solid #dddddd82 !important;
} */

.fc-day {
  background-color: #ffffff !important;
}


/* .css-wxu64o-MuiBadge-badge {
  background-color: #edd302bf !important;
  color: black !important;
} */
